{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tzvebim</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>HELLO</h1>
    <div class="content">
        {% if request.user.is_authenticated %}
            <a class="btn" href="{% url 'logout' %}">Выйти</a>
            <ul>
                {% for friend in friends %}
                    <li><a class="btn" href="http://vk.com/id{{friend.uid}}">{{ friend.first_name }} {{ friend.last_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
             <a href="{% url "social:begin" "vk-oauth2" %}">Авторизоваться</a>
        {% endif %}
   </div>
</body>
</html>