{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tzvebim</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
</head>
<body>
    <div class="container">
        {% if request.user.is_authenticated %}
            <div class="text-center">
                <h1>Привет, {{ user.first_name }}!</h1>
                <a class="btn btn-primary" href="{% url 'logout' %}">Выйти</a><br>
            </div>
            <div class="photos">
                {% for friend in friends %}
                    <a class="btn kek" href="http://vk.com/id{{friend.uid}}">
                        <img src="{{friend.photo_100}}" class="avatar">
                        <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <h1>Добро пожаловать!</h1>
             <a class="btn btn-primary" href="{% url "social:begin" "vk-oauth2" %}">Авторизоваться</a>
        {% endif %}
   </div>
</body>
</html>